<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/userPage.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="javascripts/userPage.js" defer></script>
</head>
<body>
    <header>
        
        <div class="logo">
            <img src="../img/mainLogoOrange.png" alt="unibank">
            <h2 class="unibank-nombre">UniBank</h2>
        </div>
        <div class="saldo">
            <a href="#" id="dinero">$1000.00</a>    <!--Aqui se mostrara el dinero*/-->
            <img src="../img/hpResource2.png" alt="saldo">
        </div>
    </header>
    <!-- Aqui va asidebar -->
    <div class="menu-dashboard">
        <!-- MENU parte superior -->
        <div class="top-menu">
            <div class="logo">
                <img src="../img/hpResource1.png" alt="">
                <span>NombreUsuario</span>
            </div>
            <div class="toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
        <!-- busqueda -->
        <div class="input-search">
            <i class="bi bi-search"></i>
            <input type="text" class="input" placeholder="Buscar">
        </div>
        <!-- MENU -->
        <div class="menu">
            <div class="enlace">
                <i class="bi bi-house"></i>
                <span>Inicio</span>
            </div>

            <div class="enlace">
                <i class="bi bi-person"></i>
                <span>Mi Cuenta</span>
            </div>

            <div class="enlace">
                <i class="bi bi-wallet"></i>
                <span>Billetera</span>
            </div>

            <div class="enlace">
                <i class="bi bi-bell"></i>
                <span>Notificaciones</span>
            </div>

            <div class="enlace">
                <i class="bi bi-arrow-left-right"></i>
                <span>Transacciones</span>
            </div>

            <div class="enlace">
                <i class="bi bi-clock-history"></i>
                <span>Historial Transaccional</span>
            </div>

            <div class="enlace">
                <i class="bi bi-file-earmark-richtext"></i>
                <span>Certificados</span>
            </div>

            <div class="enlace">
                <i class="bi bi-gear"></i>
                <span>Configuración</span>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>