@import url('https://fonts.googleapis.com/css2?family=Alef&family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: fuente5;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    height: 70px ;
    background: #da800a ;
    color: #fff;
    position: fixed;
    top: 0 ;
    left: 0;

}
.azul{
    background-color: rgb(31, 118, 158);
    width: 430px;
    height: 10px;
    top: 70px;
    position: fixed;
}
.amarillo{
    background-color: rgb(233, 215, 52);
    width: 430px;
    height: 10px;
    left: 350px;
    position: fixed;
    top: 70px;
}
.verde{
    background-color: rgb(29, 194, 14);
    width: 480px;
    height: 10px;
    left: 700px;
    position: fixed;
    top: 70px;
}
.rojo{
    background-color: rgb(201, 5, 5);
    width: 430px;
    height: 10px;
    left: 1000px;
    position: fixed;
    top: 70px;
}
.azul1{
    background-color: rgb(67, 212, 212);
    width:90px;
    height: 10px;
    left: 940px;
    position: fixed;
    top: 30px;
}
.tex{
    font-family: fuente7;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin-top: 200px;
}
.banco{
    height: 50px;
    width: 50px;
    position: relative;
    left: 300px;
    align-items: center;
    margin-top: -40px;
    flex-wrap: wrap;
}
.tex2{
    font-family: fuente7;
    font-size: 90px;
    color: rgb(34, 210, 216);
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin-top: 0px;
}

.btn{
    background:-webkit-linear-gradient(top,#ecdada, #dde7e9);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    left: 400px;
    font-family: fuente5;
    font-size: 30px;
    cursor: pointer;
}
.btn1{
    background:-webkit-linear-gradient(top,#ecdada, #dde7e9);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    left: 440px;
    font-family: fuente5;
    font-size: 30px;
}



@font-face {
    font-family:'fuente5';
    src: url('../font/Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family:'fuente7';
    src: url('../font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  .vent{
    background:linear-gradient(to top, rgb(245, 178, 116), rgb(255, 91, 15));
    width:400px;
    padding: 10px 20px;
    margin:2% auto;
    position: relative;
    border-radius: 10px;
  }

#contenedor:target{
    opacity:1;
    pointer-events:auto;
}
.ventana{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0px;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
}

.campo,.dato{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-block: -1%;
    font-size: small;
}
.campo{
    font-family: 'Alfa Slab One';
}

.dato{
    width: 60%;
    padding: 3%;
}

.confirmar{
    display: flex;
    margin: 5% auto;
    padding: 3%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#mensaje{
    display: none;
    font-size: smaller;
    color: red;
    margin-bottom: 1.5%;
    text-align: center;
}

#aviso{
    display: none;
    font-size: small;
    text-align: center;
    margin-top: -3%;
    color: red;
    font-family: 'Alfa Slab One';
}
#x{
    width: 5%;
}
.estudiante{
    font-family: 'Alfa Slab One';
}
input{
    font-family: Arial, Helvetica, sans-serif;
}