@import url('https://fonts.googleapis.com/css2?family=Alef&family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: fuente5;
}
body{
    background-color: rgb(255, 255, 255);
    min-width: 1000px;
}
header{
    width: 100%;
    height: 70px ;
    background-color: #da800a ;
    color: #fff;
    position: fixed;
    top: 0 ;
    left: 0;
    z-index: 1;
    padding-bottom: 0px;
}
.colores{
    width: 25%;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#azul{
    background-color: rgb(31, 118, 158);
}
#amarillo{
    background-color: rgb(233, 215, 52);
}
#verde{
    background-color: rgb(29, 194, 14);
}
#rojo{
    background-color: rgb(201, 5, 5);
}

.tex{
    font-family: fuente7;
    font-size: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    position: relative;
    margin-top: 170px;
}
.banco{
    width: 400px;
    position: relative;
    align-items: center;
    margin-top: -40px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 3%;
    display: flex;
}
#logo{
    cursor: pointer;
}
.tex2{
    font-family: fuente7;
    font-size: 90px;
    color: rgb(34, 210, 216);
    width: 70%;
    font-style: normal;
    font-weight: normal;
}
#botones{
    margin: auto;
    margin-top: 3%;
    width: 450px;
    display: flex;
}

.btn{
    background:-webkit-linear-gradient(top,#ecdada, #dde7e9);
    width: 50%;
    height: 50px;
    border-radius: 30px;
    position: relative;
    font-family: fuente5;
    font-size: 30px;
    cursor: pointer;
    margin-inline: 2%;
}
.btn3{
    background:-webkit-linear-gradient(top,#59b8f7, #dde7e9);
    width: 200px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    left: 75%;
    margin-top: 0.3%;
    font-family: fuente5;
    font-size: 30px;
}


@font-face {
    font-family:'fuente5';
    src: url('../font/Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family:'fuente7';
    src: url('../font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }


