@import url('https://fonts.googleapis.com/css2?family=Alef&family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.vent{
    background:linear-gradient(to top, rgb(252, 250, 248), rgb(177, 177, 177));
    width:400px;
    padding: 10px 20px;
    margin: auto;
    margin-block: 3%;
    position: relative;
    border-radius: 10px;
  }

  .ventana{
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0,0.5);
    display: none;
    z-index: 2;
    min-width: 1000px;
    min-height: 640px;
}

.campo,.dato{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-block: -1%;
    font-size: small;
}
.campo{
    font-family: 'Alfa Slab One';
}

.dato{
    width: 60%;
    padding: 3%;
}

.confirmar{
    display: flex;
    margin: 5% auto;
    padding: 3%;
    background: linear-gradient(to right, rgb(253, 164, 81), rgb(255, 91, 15));
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#mensaje{
    display: none;
    font-size: smaller;
    color: red;
    margin-bottom: 1.5%;
    text-align: center;
}

#aviso{
    display: none;
    font-size: small;
    text-align: center;
    margin-top: -3%;
    color: red;
    font-family: 'Alfa Slab One';
}
.cerrar{
    width: 5%;
}
.estudiante{
    font-family: 'Alfa Slab One';
}
input{
    font-family: Arial, Helvetica, sans-serif;
}
#melo{
    margin-top: 5%;
    margin-bottom: 6%;
}
#exito{
    margin-top: 15%;
}
#comprobado{
    width: 10%;
    margin-left: 4%;
    margin-top: -4%;
}

@font-face {
    font-family:'fuente5';
    src: url('../font/Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family:'fuente7';
    src: url('../font/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }